.logo
{
    background-color:purple;
    display:flex;
    text-align:center;
    flex-wrap:wrap;
   
}
.logo h1
{
    color:white;
    margin-left: 450px;
}
.mix
{
    height:200px;
}
.input-text
{
   display:flex;
   align-items:center;
   justify-content:center;
   height:100px;
}
.input-text input
{
    padding:0.65rem;
    margin:10px;
    border:1px solid black;
    width:300px;
}
.mix button
{
    text-align:center;
    padding:0.75rem;
    display: flex;
    align-items: center;
    margin-left:650px;
    background-color: purple;
    color:white;
}
.meme-gen {
    position: relative;
    height: 500px;
    width: 500px;
    margin-left:500px;
}


.meme-gen h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    left: 50%;
    transform: translateX(-50%);
}

.meme-gen h2:first-of-type {
    top: 40px; 
    color:#fff;
}

.meme-gen h2:last-of-type {
    bottom: 40px; 
    color: #fff;
}
